body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

.parent{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.child, #logo, form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
}

#logo{
    display: flex;
    margin-top: 30px;
    margin-bottom: 90px;
}

.fieldset-div{
    display: flex;
    flex-direction: column;
    padding: 15px;
    width: 457.53px;
    height: 320px;
    border: 1px solid lightgray;
    border-radius: 1%;
}

#sign-in{
    font-size: 32px;
}

input{
    height: 30px;
}

label, #forgot-password{
    margin-top: 20px;
    margin-bottom: 8px;
}

a:link{
    color: rgba(28, 142, 255, 1);
    text-decoration: none;
}

a:visited{
    color: rgba(28, 142, 255, 1);
}

input::placeholder, #forgot-password, #new-to-amazon, #need-help{
    font-size: 115%;
}

label[for=password]{
    padding-left: 45px;
}

#forgot-password{
    padding-left: 52%;
}

#btn-continue, #btn-create-account{
    font-size: 105%;
    height: 30px;
    width: auto;
    margin: 30px 0;
    border: 1px solid gray;
    border-radius: 2%;
}

#btn-continue{
    background-color: rgba(247, 197, 72, 1);
}

/* credit: https://css-tricks.com/snippets/css/css-triangle/ */
#need-help-icon{
    display: flex;
    flex-direction: column;
    width: 0; 
    height: 0; 
    border-top: 3px solid transparent;
    border-bottom: 3px solid transparent;
    border-left: 3px solid rgba(28, 142, 255, 1);
    padding-left: 6px;
}

#need-help-group{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 20px;
}

#new-to-amazon-group{
    height: 30px;
    padding: 20px 0 0 0;
}

/* credit: https://stackoverflow.com/questions/5214127/css-technique-for-a-horizontal-line-with-words-in-the-middle */
#new-to-amazon-line {
    text-align: center;
    width: 457.53px;
    border-bottom: 1px solid gray; 
    line-height: 1px;
    margin: auto;
 } 
 
 #new-to-amazon { 
    font-size: 115%;
    color: gray;
    background:#fff; 
    padding: 0 10px; 
}

#btn-create-account{
    width: 457.53px;
    margin: 0 0 60px 0;
}

hr{
    color: solid lightgray;
    top: 2px;
    height: 1px;
    background: lightgray;
    width: 1911px;
}

.footer-links{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 457.53px;
    margin: auto;
    padding: 40px 20px 20px 20px;
}

#copyright{
    display: flex;
    flex-direction: row;
    justify-content: center;
}